# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Cvode files
/cvode/instdir/

# PIHM executables
/pihm
/pihm-fbr
/flux-pihm
/flux-pihm-bgc
/flux-pihm-cycles
/rt-flux-pihm

# PBS and shell scripts
*.sh
*.pbs
*.pbs.o*
!/util/*.sh

# Indent temp files
*~

# Input, output and logs
/input/*
!/input/
!/input/*.txt
!/input/*.tbl
!/input/example
!/input/Chimborazo
/input/example/example.ic
/output/
/*.log

# Winmerge backups
*.bak

# Third party libraries
third_party
advisor

# IDE
/ide

# VS Code
/.vscode