# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Cvode files
/cvode/instdir/
/cvode/builddir/

# PIHM executables
/pihm
/pihm-fbr
/flux-pihm
/flux-pihm-bgc
/cycles-3d
/rt-flux-pihm

# Python, PBS and shell scripts
*.sh
*.py
*.pbs
*.pbs.o*
__pycache__
!/util/check_cycles_vers.sh
!/util/pihm_func.py
!/util/plot.py


# Indent temp files
*~

# Input, output and logs
*.ic
/input/*
!/input/
!/input/*.txt
!/input/*.tbl
!/input/Chimborazo
!/input/ShaleHills
/output/
/*.log

# Winmerge backups
*.bak

# Third party libraries
third_party
advisor

# IDE
/ide

# VS Code
/.vscode

# Mac OS
.DS_Store
