language: c
compiler: gcc
script:
  - make cvode
  - make clean && make pihm
  - make clean && make DGW=on pihm
  - make clean && make flux-pihm
  - make clean && make LUMPED=on flux-pihm
  - make clean && make DGW=on flux-pihm
  - make clean && make LUMPED=on DGW=on flux-pihm
  - make clean && make flux-pihm-bgc
  - make clean && make rt-flux-pihm
  - make clean && make LUMPED=on rt-flux-pihm
  - make clean && make DGW=on rt-flux-pihm
  - make clean && make LUMPED=on DGW=on rt-flux-pihm
  - make clean && make OMP=off pihm
  - make clean && make OMP=off DGW=on pihm
  - make clean && make OMP=off flux-pihm
  - make clean && make OMP=off LUMPED=on flux-pihm
  - make clean && make OMP=off DGW=on flux-pihm
  - make clean && make OMP=off LUMPED=on DGW=on flux-pihm
  - make clean && make OMP=off flux-pihm-bgc
  - make clean && make OMP=off rt-flux-pihm
  - make clean && make OMP=off LUMPED=on rt-flux-pihm
  - make clean && make OMP=off DGW=on rt-flux-pihm
  - make clean && make OMP=off LUMPED=on DGW=on rt-flux-pihm
branches:
  only:
  - master
